QFrame
{
    background-color: rgb(160, 160, 160);
    border: none;
}

QTreeWidget::branch:has-siblings:!adjoins-item
{
    border-image: url(:/16x16/icons/16x16/cil-null.png) 0;
}
QTreeWidget::branch:has-siblings:adjoins-item
{
    border-image: url(:/16x16/icons/16x16/cil-null.png) 0;
}
QTreeWidget::branch:!has-children:!has-siblings:adjoins-item
{
    border-image: url(:/16x16/icons/16x16/cil-null.png) 0;
}
QTreeWidget::branch:has-children:!has-siblings:closed,
QTreeWidget::branch:closed:has-children:has-siblings
{
    border-image: none;
    image: url(:/32x32/icons/Apagar/cil-arrow-right-.png);
}
QTreeWidget::branch:open:has-children:!has-siblings,
QTreeWidget::branch:open:has-children:has-siblings
{
    border-image: none;
    image: url(:/32x32/icons/Apagar/cil-arrow-bottom.png);
}
QTreeWidget {
    background-color: rgb(220, 220, 220);
    color: rgb(3, 3, 5);
    padding: 4px;
    gridline-color: rgb(44, 49, 60);
    border-radius: 3px;
    /*border-top: 1px solid rgb(44, 49, 60);
    border-right: 1px solid rgb(44, 49, 60);
    border-bottom: 1px solid rgb(44, 49, 60);
    border-left: 1px solid rgb(44, 49, 60);*/
}
QTreeWidget::item {
    border-color: rgb(44, 49, 60);
    padding-top: 4px 0;
    padding-left: 8px 0;
    padding-right: 8px 0;
    gridline-color: rgb(44, 49, 60);
}
QTreeWidget::item:selected {
    border: none;
    padding: 0px;
    background-color: rgba(80, 140, 170, 80);
}
QTreeWidget::item:selected:active {
    border: none;
    padding: 0px;
    background-color: rgba(80, 140, 170, 80);
}
QTreeWidget::item:selected:!active {
    border: none;
    padding: 0px;
    background-color: rgba(80, 140, 170, 80);
}


QTableWidget
{
    background-color: rgb(220, 220, 220);
    color: rgb(3, 3, 5);
    padding: 10px;
    border-radius: 5px;
    gridline-color: rgb(44, 49, 60);
}
QTableWidget::item
{
    border-color: rgb(44, 49, 60);
    padding-left: 5px;
    padding-right: 5px;
    gridline-color: rgb(44, 49, 60);
}
QTableWidget::item:selected
{
    background-color: rgba(80, 140, 170, 80);
    color: rgb(60, 60, 75);
}
QTableWidget::item:selected:active
{
    background-color: rgba(80, 140, 170, 80);
    color: rgb(60, 60, 75);
}
QTableWidget::item:selected:!active
{
    background-color: rgba(80, 140, 170, 80);
    color: rgb(60, 60, 75);
}


QHeaderView::section
{
    height: 24px;
    border: 1px solid rgb(62, 64, 72);
    background-color: rgb(200, 200, 200);
    padding: 1px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

QHeaderView::section:horizontal {
    height: 24px;
    border: 1px solid rgb(62, 64, 72);
    background-color: rgb(57, 59, 75);
    padding: 3px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
QHeaderView::section:vertical {
    border: 1px solid rgb(32, 34, 42);
    background-color: rgb(27, 29, 35);
    padding: 3px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}



QScrollBar:horizontal {
    border: none;
    background: rgb(52, 59, 72);
    height: 14px;
    margin: 0px 21px 0 21px;
    border-radius: 0px;
}
QScrollBar:vertical {
    border: none;
    background: rgb(52, 59, 72);
    width: 14px;
    margin: 21px 0 21px 0;
    border-radius: 0px;
}
QScrollBar::handle:horizontal {
    background: rgb(27, 29, 35);
    min-width: 25px;
    border-radius: 7px
}
QScrollBar::handle:vertical {
    background: rgb(27, 29, 35);
    min-height: 25px;
    border-radius: 7px
}
QScrollBar::add-line:horizontal {
    border: none;
    background: rgb(55, 63, 77);
    width: 20px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    subcontrol-position: right;
    subcontrol-origin: margin;
}
QScrollBar::add-line:vertical {
    border: none;
    background: rgb(55, 63, 77);
    height: 20px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}
QScrollBar::sub-line:horizontal {
    border: none;
    background: rgb(55, 63, 77);
    width: 20px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    subcontrol-position: left;
    subcontrol-origin: margin;
}
QScrollBar::sub-line:vertical {
    border: none;
    background: rgb(55, 63, 77);
    height: 20px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}
QScrollBar::up-arrow:horizontal, QScrollBar::down-arrow:horizontal {
    background: none;
}
QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical {
    background: none;
}
QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
    background: none;
}
QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background: none;
}
